In [ ]:
Introduction to iterrating through Numpy arrays :

In [1]:
import numpy as np

In [3]:
a = np.arange(11)**2  #last value is always excluded

In [4]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [5]:
for i in a:
    print(i**(1/2))  # squaring and then divide by 2

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [6]:
students = np.array([['Ashok','Ranga','Hema','Devi','Sri'],
                    [65,70,54,66,72],
                    [71,82,79,92,65]])

In [7]:
students

array([['Ashok', 'Ranga', 'Hema', 'Devi', 'Sri'],
       ['65', '70', '54', '66', '72'],
       ['71', '82', '79', '92', '65']], dtype='<U5')

In [8]:
print(students)

[['Ashok' 'Ranga' 'Hema' 'Devi' 'Sri']
 ['65' '70' '54' '66' '72']
 ['71' '82' '79' '92' '65']]

In [10]:
for i in students:
    print('a = ', i)

a =  ['Ashok' 'Ranga' 'Hema' 'Devi' 'Sri']
a =  ['65' '70' '54' '66' '72']
a =  ['71' '82' '79' '92' '65']

In [12]:
for element in students.flatten(): # this is called row wise flattening (also known as c order)
    print(element)

Ashok
Ranga
Hema
Devi
Sri
65
70
54
66
72
71
82
79
92
65

In [ ]:
Forton Order flattening (column wise flattening)

In [13]:
for element in students.flatten(order = 'F'):
    print(element)

Ashok
65
71
Ranga
70
82
Hema
54
79
Devi
66
92
Sri
72
65

In [15]:
x = np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
#**** Default iteration behaviour is always a C order (Row wise)

In [16]:
for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [17]:
for i in np.nditer(x, order = 'F'): #column wise data
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11