In [ ]:
Introduction to For Loops:

In [2]:
my_std = ['bhavani','zak','ganga','divya','srinivas','suresh','mohan']

print(my_std)

['bhavani', 'zak', 'ganga', 'divya', 'srinivas', 'suresh', 'mohan']

In [3]:
type(my_std)

list

In [ ]:
#writing a for loop

for -->temp var and then main var --> take care of indentation:
    print(temp var)
    
    iterarion

In [4]:
for std1 in my_std:
    print(std1)

bhavani
zak
ganga
divya
srinivas
suresh
mohan

In [ ]:
#Accepting the user input
enhancement of the for loop:
# automationg the pritn statements.

#indented part

In [5]:
my_std = ['bhavani','zak','ganga','divya','srinivas','suresh','mohan']

print(my_std)

['bhavani', 'zak', 'ganga', 'divya', 'srinivas', 'suresh', 'mohan']

In [ ]:
# req :automate the print statement for everyone

In [6]:
for x in my_std:
    print(f"{x.title()}, good job for completing he practicse regularly!!")

Bhavani, good job for completing he practicse regularly!!
Zak, good job for completing he practicse regularly!!
Ganga, good job for completing he practicse regularly!!
Divya, good job for completing he practicse regularly!!
Srinivas, good job for completing he practicse regularly!!
Suresh, good job for completing he practicse regularly!!
Mohan, good job for completing he practicse regularly!!

In [24]:
new_grp = ['priya','sneha','a','b','c']

print(new_grp)

['priya', 'sneha', 'a', 'b', 'c']

In [25]:
for aa in new_grp:
    print(f"Thanks for joining this session on time, {aa.title()}")

Thanks for joining this session on time, Priya
Thanks for joining this session on time, Sneha
Thanks for joining this session on time, A
Thanks for joining this session on time, B
Thanks for joining this session on time, C

In [29]:
# further enhancements
for aa in new_grp:
    print(f"Thanks for joining this session on time, {aa.title()}")    
    
print('\n Thanks for the good job')

Thanks for joining this session on time, Priya
Thanks for joining this session on time, Sneha
Thanks for joining this session on time, A
Thanks for joining this session on time, B
Thanks for joining this session on time, C

 Thanks for the good job

In [20]:
#Making a numerical list :

#last value will always be excluded , in this eg ---> 10 

for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [21]:
# how to use range to make a list of nos : --> interview qs

numbers = list(range(1,6))

print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# range is also having step count validation

In [23]:
# req: want to print only even numbers 1 to 50 by using the range --> interview qs

even_nos = list(range(2,51,2))

print(even_nos)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]